{% extends "base.html" %}



{% block content %}

<h1>Регистрация</h1>
<!-- novalidate -->
<form action="" method="post">
  {{ form.hidden_tag() }}
  <p>
    {{ form.username.label }}<br>
    {{ form.username(class="form-control") }}<br>
    {% for error in form.username.errors %}
        <div class="alert alert-danger" role="alert">
          {{ error }}
        </div>
    {% endfor %}
  </p>
  <p>
    {{ form.email.label }}<br>
    {{ form.email(class="form-control") }}<br>
    {% for error in form.email.errors %}
        <div class="alert alert-danger" role="alert">
          {{ error }}
        </div>
    {% endfor %}
  </p>
  <p>
    {{ form.password1.label }}<br>
    {{ form.password1(class="form-control", type="password") }}<br>
    {% for error in form.password1.errors %}
        <div class="alert alert-danger" role="alert">
          {{ error }}
        </div>
    {% endfor %}
  </p>
  <p>
    {{ form.password2.label }}<br>
    {{ form.password2(class="form-control", type="password") }}<br>
    {% for error in form.password2.errors %}
        <div class="alert alert-danger" role="alert">
          {{ error }}
        </div>
    {% endfor %}
  </p>
  <p>{{ form.site_rules() }}<span>Я согласен с </span>
    <a href="{{ url_for('site_rules') }}">правилами</a><span> площадки!</span></p>
  <p>{{ form.submit(type="submit", class="btn") }}</p>
  {% for message in get_flashed_messages() %}
      <div style="color: red;">{{ message }}</div>
  {% endfor %}
</form>

{% endblock%}
